1 what is difference between set and dictionary

In [2]:
#set
a={1,"ariba",False}
print(a)

{False, 1, 'ariba'}

In [4]:
#dict
D={"a":10,"b":20,"c":30}
print(D)

{'a': 10, 'b': 20, 'c': 30}

2write the program to print the following patern.
*
**
***

In [5]:
for i in range(3):
    for j in range(i+1):
        print("*",end = " ")
    print()

*
* *
* * *

3.write a program to print n natural no in assending order using a while loop

In [12]:
number = int(input("enter naturalNumber: "))
i = number

print("List of Natural Numbers from {0} to 1 in Reverse Order : ".format(number)) 

while ( i >= 1):
    print (i, end = '  ')
    i = i - 1

enter naturalNumber: 10
List of Natural Numbers from 10 to 1 in Reverse Order :
10  9  8  7  6  5  4  3  2  1

4.write a program in python to swap between two numbers without using the third variable

In [21]:
def swap_numbers(a, b):
    print("Before swapping: a =", a, "b =", b)

    a = a + b
    b = a - b
    a = a - b

    print("After swapping: a =", a, "b =", b)

In [24]:
num1 = 5
num2 = 10
swap_numbers(num1,num2)

Before swapping: a = 5 b = 10
After swapping: a = 10 b = 5

5.how to create a function with default argument in python

In [19]:
def student(firstname, lastname ='Mark', standard ='Fifth'):
 
     print(firstname, lastname, 'studies in', standard, 'Standard')

student('ARIBA')                        
student('ARIBA', 'MUSKAN', 'ZIA')     
student('ARIBA', 'MUSKAN')                 
student('ARIBA', 'MUSKAN')

ARIBA Mark studies in Fifth Standard
ARIBA MUSKAN studies in ZIA Standard
ARIBA MUSKAN studies in Fifth Standard
ARIBA MUSKAN studies in Fifth Standard

6.display a square of number from 1 to 10 using list comprehension

In [26]:
square=[i**2 for i in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

7.what is polymorphism?expalin with example (class)

In [28]:
class Tomato(): 
     def type(self): 
       print("Vegetable") 
     def color(self):
       print("green") 
class Apple(): 
     def type(self): 
       print("Fruit") 
     def color(self): 
       print("Red") 
      
def func(obj): 
       obj.type() 
       obj.color()
    
obj_tomato = Tomato() 
obj_apple = Apple() 
func(obj_tomato) 
func(obj_apple)

Vegetable
green
Fruit
Red

8. Explain conditional probability with example?

 For example, given that you drew a red card, what’s the probability that it’s a four (p(four|red))=2/26=1/13. So out of the 26 red cards (given a red card), there are two fours so 2/26=1/13.

9. Explain Emphirical rule  with diagram .

the emphirical rules allow you to determine the praortion of values that fall with in certain distance from the mean() more than this below.

10.What is Hypothesis Testing ? What is the Role of p value in HT?

p-value is the probability of null hypothesis being true. used to check the null hypothesis is reject or not neans hypothesis testing is normally distribution.

Q2) List all the probability distributions with example?       5*1 = 5

1.NORMAL DISTRIBUTION
eg.height of peoples
2UNFORM DISTRIBUTION
eg.rolling a dice
3BINOMIAL DISTRIBUTION
eg. number of spam recive.
4POISSON DISTRIBUTION
eg=the number of emergency calls recorded at a hosptal
5EXPONENTIAL DISTRIBUTION
eg.the life of car